{% extends 'base.html' %}

{% block title %}
    <title> {{ title | title }}</title>
{% endblock %}

{% block content %}

    First Name: {{ patient.first_name }}<br>
    Last Name: {{ patient.last_name }}<br>
    Age: {{ patient.age }}<br>
    Last heart rate: {{ last_hr }}<br>
    Last height / weight: {{ last_hw }}<br>
    Last blood preassure: {{ last_bp }}<br>

    {% include 'clinicals_app/includes/inc_data_table.html' %}

    <a class="btn btn-success" href="{% url 'patients:add_data' patient.pk %}">Add Data</a>
    <a class="btn btn-success" href="{% url 'patients:list' %}">Back to Patients list</a>
{% endblock %}