<!doctype html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<h1>WELCOME TO OUR ONLINE-SHOPPING PORTAL</h1>
<ul>
    <li><a href="/electronics">Electronics</a></li>
    <li><a href="/toys">Toys</a></li>
    <li><a href="/shoes">Shoes</a></li>
</ul>
</body>
</html>