{% extends 'base.html' %}

{% block title %}
    <title>{{ title|title }}</title>
{% endblock %}

{% block content %}
    <form method="post"
{#          action="{% url 'students:update' student.pk %}"#}
    >
        {% csrf_token %}

        {{ form.as_p }}

{#        First name:<input type="text" name="first_name" value="{{ student.first_name }}"><br>#}
{#        Last name:<input type="text" name="last_name" value="{{ student.last_name }}"><br>#}
{#        Test score:<input type="number" name="test_score" value="{{ student.test_score }}"><br>#}

        <input type="submit" value="update and stay"><br>
        <input type="submit" name="update_and_to_list" value="update and go back to list">

    </form>


{% endblock %}