{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{#{% block style %}#}
{#	{% include "inc-style.html" %}#}
{#{% endblock %}#}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/student-list/">Students list</a>
		</li>
		<li>
			<a href="/create-student/">Create student</a>
		</li>
	</div>
    <h1>Add student to course</h1>
    <form method="post">
        <select size="3" name="course_name">
            {% for course in courses %}
            <option value="{{course.name}}">{{course.name}}</option>
            {% endfor %}
        </select>
        <select size="3" name="student_name">
            {% for student in students %}
            <option value="{{student.name}}">{{student.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
{% endblock %}