{% extends "base.html" %}
{% block title %}
	Создание курса
{% endblock %}
{#{% block style %}#}
{#	{% include "inc-style.html" %}#}
{#{% endblock %}#}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<button><a href="/courses-list/?id={{ category.id }}">back</a></button>
	</div>

	<div>
		<h1>Create Course for category "{{ category.name }}"</h1>
		<form method="post">
			<input type="text" name="name" placeholder="course name">
			<button type="submit">create</button>
		</form>
	</div>
{% endblock %}